/* ==================== */
/*      Card de Auto    */
/* ==================== */

.item-card {
  background-color: var(--color-pearl-white);
  border-radius: 12px;
  overflow: hidden;

  /* borde metálico */
  border: 1px solid var(--color-silver);

  box-shadow: var(--shadow-soft);
  transition: all 0.25s ease-in-out;
}

.item-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-strong);
  border-color: var(--color-blue-light);
}

/* Imagen del auto */
.item-card img {
  border-bottom: 1px solid var(--color-silver);
}

/* Título */
.item-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-blue-dark);
}

/* Botón */
.item-btn {
  width: 100%;
  background-color: var(--color-red-action);
  color: white;
  border-radius: 8px;
  padding: 0.6rem;
  font-weight: 600;

  transition: background-color 0.25s ease;
}

.item-btn:hover {
  background-color: var(--color-red-sport);
}
